body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 40px;
}

#name {
    color: orange;
}

p {
    color: rgba(52, 49, 49, 0.767);
}

section {
    display: flex;

}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 80%;
}